<%= render "shared/header" %>
<%= render "shared/fixed-btn" %>

<div class="container">
  <div class="contents">
    <div class="mv">
      <div class="mv-main">
        <div id='slick'>
          <li><%= image_tag "top_1.jpg", alt:"料理画像", class:"top-slide-img"%></li>
          <li><%= image_tag "top_2.jpg", alt:"料理画像", class:"top-slide-img"%></li>
          <li><%= image_tag "top_3.jpg", alt:"料理画像", class:"top-slide-img"%></li>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN POIN ---------------------------------------------->
  <div class="contents">
    <div class="point-text">
      <div class="point-title">
        働くママの週に一度の<br>
        <span>クックタイム</span>
      </div>
      <div class="point-discription">
        ”つくり置き”に適したレシピアプリ<br>
        買い物のリスト作成の手間をはぶき<br>
        ◯人前の材料を自動で計算<br>
        忙しいママの、週に一度の"cook time"をお手伝い♪
      </div>
    </div>
    <!-- 4つの POIN ---------------------------------------------->
    <div class="row point-box-big">
      <div class="col-md-3 col-6">
        <div class="point-box">
          <div class="icon-box-L">
            <%= image_tag "icon-list.png", alt:"icon画像", class:"icons-L-type"%>
          </div>
          <div class="point-sb-title">
            買い物リストを自動作成
          </div>
          <div class="point-text">
            ボタン１つで選択したレシピの買い物リストを作成！
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="point-box">
          <div class="icon-box-L">
            <%= image_tag "icon-calc.png", alt:"icon画像", class:"icons-L-type"%>
          </div>
          <div class="point-sb-title">
            材料を自動計算
          </div>
          <div class="point-text">
            家族の人数を入力するとレシピの材料が自動で計算！
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="point-box">
          <div class="icon-box-L">
            <%= image_tag "icon-recipe2.png", alt:"icon画像", class:"icons-L-type"%>
          </div>
          <div class="point-sb-title">
            レシピ登録
          </div>
          <div class="point-text">
            おすすめレシピを登録して、働くママ仲間をおたすけ！
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="point-box">
          <div class="icon-box-L">
            <%= image_tag "icon-check.png", alt:"icon画像", class:"icons-L-type"%>
          </div>
          <div class="point-sb-title">
            お気に入りにチェック
          </div>
          <div class="point-text">
            ”お気に入り登録”で次回レシピを探す手間が省く！
          </div>
        </div>
      </div>
    </div> 
  </div>
  <!-- 画像と説明部分 ---------------------------------------------->
  <div class="contents">
    <div class="row about-content">
      <div class="col-md-7">
        <div class="about-gif">
          <%= image_tag "top_3.jpg", alt:"買い物リスト作成", class:"gif-about"%>
        </div>
      </div>
      <div class="col-md-5 about-text-box-big">
        <div class="about-text-box">
          <div class="about-title">
            買い物リストを自動作成
          </div>
          <div class="about-text">
            複数の選択したレシピの材料をワンクリックでまとめて表示！
            レシピを見ながらメモをとって・・・という手間を省けます！
          </div>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="col-md-5 about-text-box-big order-1 order-md-0">
        <div class="about-text-box">
          <div class="about-title">
            ◯人前の材料の計算を自動で！
          </div>
          <div class="about-text">
            「レシピは4人前だけど、2人分だから材料は半分...」という面倒な計算は不要。
            人数を選択すると自動で計算を行います。
          </div>
        </div>
      </div>
      <div class="col-md-7 order-0 order-md-1">
        <div class="about-gif">
          <%= image_tag "top_3.jpg", alt:"買い物リスト作成", class:"gif-about"%>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="col-md-7">
        <div class="about-gif">
          <%= image_tag "top_3.jpg", alt:"買い物リスト作成", class:"gif-about"%>
        </div>
      </div>
      <div class="col-md-5 about-text-box-big">
        <div class="about-text-box">
          <div class="about-title">
            レシピ登録機能
          </div>
          <div class="about-text">
            自分のメモのために、働くママ仲間のために、簡単にレシピ投稿が行えます。
            投稿したレシピの”お気に入り”が増えていくのも嬉しい♪
          </div>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="col-md-5 about-text-box-big order-1 order-md-0">
        <div class="about-text-box">
          <div class="about-title">
            お気に入りチェック
          </div>
          <div class="about-text">
            気になるレシピ、よく作るレシピは”お気に入り登録”をすることで、
            マイページから”お気に入りレシピ”を確認！
          </div>
        </div>
      </div>
      <div class="col-md-7  order-0 order-md-1">
        <div class="about-gif">
          <%= image_tag "top_3.jpg", alt:"買い物リスト作成", class:"gif-about"%>
        </div>
      </div>
    </div>
  </div>
  <!-- 今すぐ始めるボタン -->
  <div class="btn-more-box">
    <%= link_to "今すぐはじめる", new_user_registration_path, class:"btn-more" %>
  </div>
</div>

<%= render "shared/footer" %>