<%= render "shared/header" %>
<%= render "shared/fixed-btn" %>


<div class="container">
  <div class="content-famous">
    <div class="content-title">
      <%= image_tag "icon-star-red.png", alt:"★", class:"icon-star"%>
      <span class="recipes-index-title">人気レシピ</span>
    </div>
    <div class="row img-main-box">
      <div class='col-md-7'>
        <%= image_tag "img-1.jpg", alt:"料理画像", class:"img-main"%>
      </div>
      <div class='col-md-5'>
        <div class='img-second-box'>
          <%= image_tag "img-1.jpg", alt:"料理画像", class:"img-second"%>
          <div>
            <div class="show-recipe-category">
            主菜
            </div>
            <div class="index-recipe-time">
              <%= image_tag "icon-time.png", alt:"料理画像", class:"icon-time"%>
              <span>約10分</span>
            </div>
          </div>
        </div>
        <div class='img-second-box'>
          <%= image_tag "img-1.jpg", alt:"料理画像", class:"img-second"%>
        </div>
      </div>
    </div>
  </div>
</div>