<%= render "shared/header" %>
  <%= link_to "レシピ登録", new_recipe_path %>


<div class="container">
  <div class="contents">
    <div class="mv">

      <div class="mv-main">
        <div id='slick'>
          <li><%= image_tag "top_1.jpg", alt:"料理画像", class:"top-slide-img"%></li>
          <li><%= image_tag "top_3.jpg", alt:"料理画像", class:"top-slide-img"%></li>
          <li><%= image_tag "top_2.jpg", alt:"料理画像", class:"top-slide-img"%></li>
        </div>
      </div>
      
    </div>
  </div>
</div>
