<%= render "shared/header" %>
<%= render "shared/fixed-btn" %>

<div class="container">
  <div class="content-famous">
    <div class="content-title">
      <%= image_tag "icon-star-red.png", alt:"★", class:"icon-star"%>
      <span class="recipes-index-title">人気レシピ</span>
    </div>
    <% unless @raning.present? %>
      <!-- MAIN 人気のレシピ全体 -------------------------------------------->
      <div class="row img-main-box">
        <div class='main-box col-md-7'>
          <%= link_to recipe_path(@ranking[0].id) do %>
            <!-- 画像 -->
            <div class="main-box-img">
              <%= image_tag @ranking[0].images[0].url, alt:"料理画像", class:"img-main"%>
            </div>
            <!-- お気に入りトマト -->
            <div class="white-block">
            </div>
            <div class='like-box fixed-like-box'>
              <div><%= image_tag "icon-star-light_green.png", alt:"star", class:"icons-type"%></div>
              <div class="like-box">お気に入り<span><%= @ranking[1].likes.length %></span></div>
            </div> 
            <!-- 人気レシピの詳細情報 -->
            <div class="famous-big-box">
              <div class="famous-title"><%= @ranking[0].title %></div>
              <div class="big-category-time">  
                <div class="big-index-recipe-category">
                  <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
                  <span><%= @ranking[0].category.name %></span>
                </div>
                <div class="big-index-recipe-time">
                  <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
                  <span>約<span class="number"><%= @ranking[0].time %></span>分</span>
                </div>
              </div> 
            </div>
          <%end%>
        </div>
        <!-- SECOND 人気レシピ -------------------------------------------------->
        <div class='second-box-big col-md-5'>
          <%= link_to recipe_path(@ranking[1].id) do %>
            <div class='second-box'>
              <!-- 画像のボックス -->
              <div class="second-box-img">
                <%= image_tag @ranking[1].images[0].url, alt:"料理画像", class:"img-second"%>
              </div>
              <!-- 詳細情報のボックス -->
              <div class="second-box-famous">
                <!-- お気に入りトマト -->
                <div class='like-box'>
                  <div><%= image_tag "icon-star-light_green.png", alt:"star", class:"icons-type"%></div>
                  <div class="like-box">お気に入り<span><%= @ranking[1].likes.length %></span></div>
                </div> 
                <div class="famous-title"><%= @ranking[1].title %></div>
                <div class="index-recipe-category">
                  <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
                  <span><%= @ranking[1].category.name %></span>
                </div>
                <div class="index-recipe-time">
                  <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
                  <span>約<span class="number"><%= @ranking[1].time %></span>分</span>
                </div>
              </div>
            </div>
          <%end%>
          <%= link_to recipe_path(@ranking[2].id) do %>
            <div class='second-box'>
              <div class="second-box-img">
                <%= image_tag @ranking[2].images[0].url, alt:"料理画像", class:"img-second"%>
              </div>
              <div class="second-box-famous">
                <div class='like-box'>
                  <div><%= image_tag "icon-star-light_green.png", alt:"star", class:"icons-type"%></div>
                  <div class="like-box">お気に入り<span><%= @ranking[1].likes.length %></span></div>
                </div> 
                <div class="famous-title"><%= @ranking[2].title %></div>
                <div class="index-recipe-category">
                  <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
                  <span><%= @ranking[2].category.name %></span>
                </div>
                <div class="index-recipe-time">
                  <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
                  <span>約<span class="number"><%= @ranking[2].time %></span>分</span>
                </div>
              </div>
            </div>
          <%end%>  
        </div>
      </div> 
    <%end%>
  </div>
  <!-- 検索ボックス --------------------------------------------------------->
  <div class="search-contents">
    <h2>レシピ検索</h2>
    <%= search_form_for @p, url: recipes_search_path do |f| %>
      <%= f.label :title_or_feature_cont, 'キーワード', class:'col-md-3' %>
      <%= f.text_field :title_or_feature_cont, class: 'input-search col-md-8' %>
      <br>
      <%= f.label :category_id_eq, 'カテゴリー', class:'col-md-3' %>
      <%= f.collection_select :category_id_eq, Category.all, :id, :name,{prompt: ""},{class:'input-search col-md-8'} %>
      <br>
      <%= f.label :cold_date_gteq, '冷蔵保存期間', class:'col-md-3' %>
      <%= f.number_field :cold_date_gteq, class: 'input-search col-md-8' %>
      <br>
      <%= f.label :frozen_date_gteq, '冷凍保存期間', class:'col-md-3' %>
      <%= f.number_field :frozen_date_gteq, class: 'input-search col-md-8' %>
      <br>
      <%= f.label :time_gteq, '調理時間', class:'col-md-3' %>
      <%= f.number_field :time_gteq, class: 'input-search col-md-8' %>
      <br>
      <div class="col-12 search-btn-box">
        <%= f.submit '検索', class: 'btn-search'%>
      </div>
    <% end %>
  </div>
  <!-- 新着レシピ -----------------------------------------------------------> 
  <div class="list-wrap">
    <h2>新着レシピ</h2>
    <div class='recipe-contents'>
      <ul class='row'>
      <!-- レシピ一つづつ -->
        <% @recipes.each do |recipe|%>
          <li class='list col-md-3 col-6'>
            <%= link_to recipe_path(recipe.id) do %>
              <!-- いいねトマト -->
              <div class='like-box'>
                <div><%= image_tag "icon-star-light_green.png", alt:"star", class:"icons-type"%></div>
                <div class="like-box">お気に入り<span><%= recipe.likes.length %></span></div>
              </div> 
              <!-- タイトル -->
              <div class="recipe-title">
                <h3>
                  <%= recipe.title %>
                </h3>
              </div>  
              <!-- 画像 -->
              <div class='recipe-img-index'>
                <%= image_tag recipe.images[0].url, class: "img-recipe" %>
              </div>
              <!--画像の下の細かいコンテンツ-->
              <div class='recipe-info'>
                <table class="table-index" width="100%">
                  <tr>
                    <td class='index recipe-category'>
                      <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
                      <span><%= recipe.category.name %></span>
                    </td>
                    <td class='index recipe-time'>
                      <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
                      <span>約<%= recipe.time %>分</span>
                    </td>
                  </tr>
                  <tr>
                    <td class='index recipe-days'>
                      <%= image_tag "icon-cold.png", alt:"料理画像", class:"icons-type"%>
                      <span>約<%= recipe.cold_date%>日</span>
                    </td>
                    <td class='index recipe-days'>
                      <%= image_tag "icon-frozen.png", alt:"料理画像", class:"icons-type"%>
                      <span>約<%= recipe.frozen_date %>日</span>
                    </td>
                  </tr>
                </table>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- もっと見るボタン -->
    <div class="btn-more-box">
      <%= link_to "もっと見る", more_recipes_path, class:"btn-more" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>