<%= render "shared/header" %>
<%= render "shared/fixed-btn" %>


<div class="container">
  <div class="content-famous">
    <div class="content-title">
      <%= image_tag "icon-star-red.png", alt:"★", class:"icon-star"%>
      <span class="recipes-index-title">人気レシピ</span>
    </div>
    <div class="row img-main-box">
      <div class='col-md-7'>
        <%= image_tag "img-1.jpg", alt:"料理画像", class:"img-main"%>
        <div class="famous-big-box">
          <div class="famous-title">料理レシピのタイトルタイトルタイトル</div>
          <div class="big-category-time">  
            <div class="big-index-recipe-category">
              <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
              <span>デザート</span>
            </div>
            <div class="big-index-recipe-time">
              <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
              <span>約<span class="number">10</span>分</span>
            </div>
          </div> 
        </div>
      </div>
      <!-- ２つ目以降の人気レシピ -->
      <div class='col-md-5'>
        <div class='img-second-box'>
          <%= image_tag "img-1.jpg", alt:"料理画像", class:"img-second"%>
          <div class="famous-box">
            <div class="famous-title">料理レシピのタイトルタイトルタイトル</div>
            <div class="index-recipe-category">
              <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
              <span>デザート</span>
            </div>
            <div class="index-recipe-time">
              <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
              <span>約<span class="number">10</span>分</span>
            </div>
          </div>
        </div>
        <div class='img-second-box'>
          <%= image_tag "img-1.jpg", alt:"料理画像", class:"img-second"%>
          <div class="famous-box">
            <div class="famous-title">料理レシピのタイトルタイトルタイトル</div>
            <div class="index-recipe-category">
              <%= image_tag "icon-category.png", alt:"料理画像", class:"icons-type"%>
              <span>デザート</span>
            </div>
            <div class="index-recipe-time">
              <%= image_tag "icon-time.png", alt:"料理画像", class:"icons-type"%>
              <span>約<span class="number">10</span>分</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>