<%= render "shared/header" %>
<%= render "shared/fixed-btn" %>

<div class="container">
  <div class='recipe-lists'>
    <h2 class="h2-title">選択中の料理</h2>
    <% if current_user.choices.blank? %>
    <%# current_userにひもづくlikesのレコードがあるか %>
    <%# @choice.current_userもOKだが、controllerで@choiceの定義が必要 %>
      <span>選択した料理はありません</span>
    <% else%>
      <% recipe_num=0 %>
      <% @choices.each do |choice| %>
        <div class='choice-box space-choice-box'  id="choice-btn-<%= choice.recipe_id %>" >
          <%= render 'choices/choice_my', choice: choice %>
        </div>
        <div class="row under-line" data-recipe="<%= recipe_num%>">
          <div class="col-md-3 col-8">
            <div class="recipe-img-do_cook">
              <%= image_tag choice.recipe.images[0].url, class: "img-recipe" %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="ingredients-box">
              <h3><%= choice.recipe.title %></h3>  
              <table class="table-ingredients col-md-12">
                <tr>
                  <td>
                    <h4>材料</h4>
                  </td>
                  <td>
                  </td>
                  <td >
                    <input id="input-calc" type="number" name="nickname" class="input-calc-number">
                    <span>人前</span>
                  </td>
                </tr>
              </table>
              <table class="table-ingredients col-md-12">
                <% ing_num=0 %>
                <% choice.recipe.ingredients.each do |ingredient|%>
                  <tr>
                    <td class="td-font" >
                      <%= ingredient.thing.thing_name %>
                    </td>
                    <td class="td-position td-font">
                      <%= ingredient.thing.spoon %>
                      <span id="amount"><%= ingredient.amount %></span>
                      <%= ingredient.thing.unit %>
                    </td>
                    <td class="td-font output-calc">
                      <%= ingredient.thing.spoon %>
                      <span id='output' class="output">計算</span>
                      <%= ingredient.thing.unit %>
                    </td>
                    <% ing_num = ing_num+1 %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        
        <% recipe_num = recipe_num+1 %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>