<!-- Navigation-->
<header class='top-page-header fixed-top' id="header">
  <nav class="navbar navbar-expand-md navbar-light">
    <%= link_to root_path, class:"navbar-brand main-logo" do%>
      <%= image_tag "logo.png", alt:"icon画像", class:"img-logo-S"%>
    <%end%>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="lists-right navbar-nav text-uppercase ml-auto">
        <li class="nav-item"><%= link_to "cooktimeについて" ,about_recipes_path , method: :get, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "ランキング" ,likes_path , method: :get, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "レシピ投稿" ,new_recipe_path , method: :get, class:"nav-link mr-3" %></li>
        <li class="nav-item"><%= link_to "レシピ一覧" , more_recipes_path , method: :get, class:"nav-link mr-3" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "マイページ", user_path(current_user.id), method: :get, class: "nav-link btn-header-red" %></li> 
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link btn-header-red" %></li> 
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, method: :get,class: "nav-link btn-header-red" %></li>
          <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link btn-header-red" %></li>
          <li class="nav-item"><%= link_to 'かんたんログイン', users_guest_sign_in_path, method: :post, class: "nav-link btn-header-border" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
